/*   
Personal Website CSS
Author: Emily Le
*/

@font-face {
   font-family: Sullivan-Regular; 
   src: url('Sullivan_Personal_License/Sullivan-Regular.otf');
} 


header{
	margin: 0 auto 20px auto;
	width: 963px; 
  	height: 185px;
}

body{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: Helvetica;
}

/*MENU STYLE*/

#menu_content{
	display: inline;
}

#menu_content h1{
	font-family: 'Sullivan-Regular';
	font-size: 150%;
}

#menu_content ul{
	background: #333;
	height: 100%;
	width: 100%;
	float:right;
	list-style-type: none;
	margin:0px;
	padding:0px;
	padding-bottom: 10px;
}

#menu_content li{
	float: right;
	display: inline-block;
	margin-right: 5%;
	margin-top: 10px;
}

#menu_content a{
	color: white;
	background: #333;
	float:left;
	margin-left: 20px;
	font-family: ullivan-Regular, Arial;
	font-size: 125%;
}

#banner img {
	width: 100%;	margin-bottom: 0px;
}

#content{
	
}

/* ABOUT ME */

p.leftText{
     max-width: 70%;
     padding-left: 3%;
   /*  float: left;*/
     display: block;
}

img.rightPic{
	border-radius: 150px;
	-webkit-border-radius:150px;
	-moz-border-radius:150px;
	background: url('images/profile_png.png');
	width: 240px;
	height: 240px;
    margin-right: 5%;
    margin-left: 3%;
    margin-bottom: 3%;
	float:right;
	/*position: relative;
	bottom: 30px;*/
}

img.quote{
	margin-left: 20%;
	width: 455px;
	height: 75px;
}



/* EXPERIENCE */
#experience{
	clear: both;
	background: #ccc;
	padding-bottom: 3%;
	padding-top: 1%;
}

#experience table{
	padding-left: 3%;
	width: 100%;
}

#experience td{
	padding: 1%;
	padding-right: 5%;
}

#esri img{
	width: 135px;
}


#jpl img{
	width: 110px;
}


#hackpoly img{
	width: 135px;
	height: 70px;
}

#acm img{
	width: 135px;
}

td.content{
	padding-right: 3%;
	padding-top: 0%;
}

a.project_link{
	font-size: 50px;
}

/* CONTACT */
#contact p{
	padding-left: 3%;
	padding-bottom: 1%;
}

#resume{
	padding-left: 300px;
}
#resume img{
	width: 304px;
	height: 434px;
	float: left;
}

#contact table{
	padding-top: 2%;
	padding-left: 350px;
	padding-bottom: 5%;
}

/*#contact td{
	padding:5px;
}*/

img.linkedin{
	width: 175px;
	padding-left: 30%;
}

img.github{
	width: 175px;
	padding-left: 30%;
}

img.email{
	padding-top: 50px;
}

/*FOOTER*/
#footer{
	background: #333;
	clear:both;
}

#footer p{
	color: white;
	text-align: center;
	height: 45px;
	padding-top: 30px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

h2.title{
	margin-left: 20px;
	font-family: 'Sullivan-Regular', Arial;
	font-size: 50px;
}

/* LINKS */
a:link, a:visited{
	text-decoration: none;
	font-size: 125%;
}

a:hover, a:active{
	text-decoration: none;
}

